<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChaTAH! | {% block title %} {% endblock %}</title>
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    /> -->
    <link rel="icon" href="{{url_for('static',filename='src/logo.jpg')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <!-- <script src="https://unpkg.com/@tailwindcss/browser@4"></script> -->
  </head>
  <body>
    <header>
      <div class="flex justify-between items-center p-2 bg-blue-500 text-white">
        <img
          class="rounded-full h-10 w-10 border-2 border-blue-200"
          src="{{url_for('static',filename='src/logo.jpg')}}"
        />
        <h1 class="text-2xl font-semibold">ChatTAH!</h1>
        <div class="flex gap-3 items-center">
          <img
            class="rounded-full h-10 w-10 border-2 border-blue-200"
            src="{{url_for('static',filename='uploads/'+g.user.image)}}"
          />
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
      </div>
    </header>
    <div class="mx-auto p-6 bg-gray-100 h-screen">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
