<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatTAH!</title>
    <link rel="icon" href="{{url_for('static',filename='src/logo.jpg')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body>
    <div class="flex justify-center items-center h-screen bg-white">
      <div>
        <img
          class="rounded-full border-2 border-blue-200"
          width="100"
          src="{{url_for('static',filename='src/logo.jpg')}}"
        />
        <h1 class="text-2xl font-semibold">ChatTAH!</h1>
        <a href="#"></a>
      </div>
    </div>
    <script>
      setTimeout(() => {
        window.location.assign("/auth/login");
      }, 2000);
    </script>
  </body>
</html>
